 .converion {
     display: flex;
     align-items: center;
position: relative;
     padding: 20px;
     cursor: pointer;
     border-radius: 10px;
     font-size: 20px;
     overflow: hidden;

 }

 .expertrMenu, .farmeMenu{
     max-height: 500px;
     overflow-y: scroll;
 }
 

 .converion:hover {
     background-color: rgb(192, 189, 189);
 }
 .conversationDelete{
     position: absolute;
     display: grid;
     place-items: center;
     background-color: red !important;
     color: white;
     right: -70px;
      border-radius: 10px;
      padding: 20px;
      font-weight: bold;
      font-size: 18px;
      outline: none !important;
      transition: ease-in-out .8s;
 }
  .converion:hover .conversationDelete{
      right: 0px;
  }
  .converion .userRole {
 padding: 10px;
 border-radius: 50%;
 /* margin:5px; */
 display: grid;
 place-items: center;
 color: white;
 background-color: #1aff1a;

  }

  .converion .conName{
margin-top: 10px !important;
  }

 .coversionImage {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover;
 }

 .farmerMenuInput {
     outline: none;
     border-top: none;
     border-left: none;
     border-right: none;
 }

 .message {
     display: flex;
     flex-direction: column;

 }

 .messageText {
     background-color: rgb(10, 10, 230);
     color: white;
     max-width: 300px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;

     padding: 10px;
 }

 .messageBottom {
     font-size: 12px;

 }

 .own .messageText {
     background-color: gray;
     color: black;
     max-width: 300px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     padding: 10px;
 }

 .messageSpace {
     height: 73vh;
     overflow-y: scroll;
     justify-content: end !important;
     transition: ease-in-out .5s;
 }

 .contacts {
     cursor: pointer;

     margin: 20px;
     padding: 15px;
     border-radius: 20px;
 }
.ToggleButton{

    background-color: var(--mainGreen);
    position: absolute;
    width: 60px !important;
    height: 60px !important;
    z-index: 1000;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    border: 1px solid transparent;
}
.ToggleButton span {
    margin-right: 20px !important;
    font-size: 24px !important;
    color: white;

}
.OppositeContact{
    width: 50px !important;
}
.OppositeExpertContact {
    width: 0px !important;
}


 .contacts:hover{
     background-color: lightgrey;
 }
 .contactSpace{
     overflow-y: scroll;
     position: relative;
     overflow-x: hidden;
     transition: ease-in-out .3s;
 }
 .contactSpace .btn-success{
     padding: 10px !important;
     overflow:  hidden !important;
     
 }
 .no-conversion{
     font-size: 30px;
     margin-top: 60px;
     color: gray;
     font-weight: bold;
     opacity: 0.8;
 }
/* @media only screen and (max-width : 600px){
    .contactSpace {
       width: 200px;
    }
    .messageContainer{
       width: 200px;
    }
} */